@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Peliculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>

<p>
    @Html.ActionLink("Agregar Pelicula", "New","Movies", null, new {  @class ="btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Peliculas</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>