@model Vidly.Models.Customer



@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>

    <li>Tipo De Membresia: @Model.MembershipType.Name</li>
    @if (Model.Birthdate.HasValue)
    {
        <li>Fecha De Nacimiento: @Model.Birthdate.Value.ToShortDateString()</li>

    }

</ul>

