@model Vidly.Models.Customer

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Cliente</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        <label>Nombre</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Fecha De Nacimiento</label>
        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    </div>
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) ¿Suscribirse al Boletin?
        </label>
    </div>

}

